{{ form_start(form) }}

{# Nom du jeu #}
<div class="form-group">
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
    {{ form_help(form.name) }}
</div>

{# Description du jeu #}
<div class="form-group">
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_errors(form.description) }}
    {{ form_help(form.description) }}
</div>

<button class="btn btn-primary" type="submit">{{ btn_label | default("Ajouter le jeu") }}</button>

{{ form_end(form, {'render_rest': false}) }}