{{ form_start(form) }}
    {{ form_widget(form) }}
{#Vérifier si la route est "album_edit" on affiche les images #}

{% if app.request.attributes.get('_route') == 'album_edit' %}
<h2>Images</h2>

{% for image in album.images %}
    <div>
     <img src="{{asset('/uploads/' ~ image.name)}}" alt="Image" width="300">
     <a href="{{path('album_delete_image', {id: image.id})}}" data-delete data-token="{{csrf_token('delete' ~ image.id)}}">Supprimé</a>
     
    </div>

{% endfor %}

{% endif %}
    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{% block javascript %}
{#<script>window.onload = () => {
  //Gestion des boutons "Supprimer"
  let links = document.querySelectorAll("[data-delete]")
  // On boucle sur links
  for(link of links){
    link.addEventListener("click", function(e){
      e.preventDefault()
      if(confirm("Voulez vous supprimer cette image ?")){
          //on envoie une requête Ajax vers le href du lien avec la methode DELETE
          fetch(this.getAttribute("href"),{
              method: "DELETE",
              headers: {
                  "X-Requested-With" : "XMLHttpRequest",
                  "Content-Type": "application/json" 
              },
              body: JSON.stringify({"_token": this.dataset.token})
          }).then(
              //On récupère le réponse en JSON
              response => response.json()
          ).then(data => {
              if(data.success)
              this.parentElement.remove()
              else 
              alert(data.error)
          }).catch(e => alert(e))
        
      }
    })
  }

  
  }</script>
#}{% endblock  %}
