{% extends 'base.html.twig' %}
{% set title = "Suppression d'un maître de jeu" %}

{% block title %}{{ title }}{% endblock %}
{#% block title title %#}

{% block body %}
<div class="container">
    
    <header class="page-header">
        <h2 class="page-title">{{ title }}</h2>
    </header>

    <main>
        <form method="POST" action="{{ path('master:delete', {id: master.id}) }}">
            <input type="hidden" name="_method" value="DELETE">

            <p>Confirmer la Suppression d'un maître de jeu : {{ master.pseudo }} ?</p>

            <button type="submit" class="btn btn-danger">OUI</button>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ path('master:index') }}';">NON</button>
        </form>
    </main>

</div>
{% endblock %}